[user]
    name = aitor.alvarez
    email = {{ .email }}

[core]
    editor = vim
    excludesfile = ~/.gitignore_global

[init]
    defaultBranch = main

[pull]
    rebase = true

[alias]
    s = status
    co = checkout
    br = branch
